/* Base */
    .container{
        padding: 8px;
    }
    .btn{
        padding: 10px;
        font-size: medium;
        background: rgb(30,140,180);
        outline: none;
        text-decoration: none;
    }

/* Wave Button */
    .btn-wave{
        position: relative;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s;
    }
    .btn-wave::before{
        content: '';
        margin: 0px;
        position: absolute;
        right: 50%;
        top: 5%;
        width: 25%;
        height: 50%;
        border-radius: 25%;
        background: rgb(255,255,255);
        background: rgba(255,255,255,1);
        opacity: 1;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s;
    }
    .btn-wave:before{
        content: '';
        margin: 0px;
        position: absolute;
        right: 50%;
        top: 5%;
        width: 25%;
        height: 50%;
        border-radius: 25%;
        background: rgb(255,255,255);
        background: rgba(255,255,255,1);
        opacity: 1;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s;
    }
    .btn-wave:focus:before{
        width: 200%;
        height: 200%;
        background: rgb(255,255,255);
        background: rgba(255,255,255,0.5);
        opacity: 0;
    }
   
    .btn-wave::after{
        content: '';
        margin: 0px;
        position: absolute;
        left: 50%;
        top: 5%;
        width: 25%;
        height: 50%;
        border-radius: 25%;
        background: rgb(255,255,255);
        background: rgba(255,255,255,1);
        opacity: 1;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s;
    }
    .btn-wave:after{
        content: '';
        margin: 0px;
        position: absolute;
        left: 50%;
        top: 5%;
        width: 25%;
        height: 50%;
        border-radius: 50%;
        background: rgb(255,255,255);
        background: rgba(255,255,255,1);
        opacity: 1;
        -o-transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        transition: 0.5s;
    }
    .btn-wave:focus:after{
        width: 200%;
        height: 200%;
        background: rgb(255,255,255);
        background: rgba(255,255,255,0.5);
        opacity: 0;
    }
